<!DOCTYPE html>
<html>

<head>
    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    <meta charset="utf-8">

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/blog.png">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/damieng.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "assets/css/syntax/github.css" | relative_url }}">
</head>

<body>
	<div class="wrapper">
		<div class="header">
			<h1><a href="{{ "/" | relative_url }}">{{ site.name | default: site.title }}</a></h1>
			<ul>
				{% for item in site.data.navigation.main %}
				<li>
					<a href="{{ item.url | relative_url }}">{{ item.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

        {{ content }}

	<div class="footer">
		<p>&copy; {{ 'now' | date: '%Y' }} <a href="{{ "/" | relative_url }}">{{ site.author.name | default: site.title }}</a>, unless otherwise noted.</p>
	</div>
	</div>
</body>

</html>
